.x-axis
{
    color: red;
}
.Graph h2{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
    color: rgb(188, 141, 79);
    color: rgb(26, 224, 12);
}
.Graph
{
    padding: 10px 50px 50px 200px;
}

